---
export interface Props {
title: string;
description: string;
}
const { title, description } = Astro.props;
---

<header class="mx-auto max-w-xl text-center content">
  <img src="/images/monoeye-logo-min.png" alt="Monoeye Logo" class="mx-auto" />
  <p data-test="header-description">{description}</p>
</header>